{% load static %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link rel="stylesheet" href="{% static 'user_setting/index.css' %}">
    <link rel="shortcut icon" href="{% static '/favicon.ico'%}" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Profile {{ user.username }}</title>

</head>
<body class="profile-page">
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <form method="post" enctype="multipart/form-data">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <form method="post" enctype="multipart/form-data">
                         <div class="mt-5 text-center">
                             {% csrf_token %}
                             {{ form.as_p }}
                             <img class="rounded-circle_" src="/{{ info.photo }}" title="Upload">
                             <button id="img_upload" class="btn btn-primary profile-button" type="button">Upload new photo</button>
                         </div>
                    </form>
                    <span class="font-weight-bold">{{ info.nickname }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                </div>
            </form>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Edit your profile</h6>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{ user }}"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="Doe" placeholder="Doe"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Headline</label><input type="text" class="form-control" placeholder="headline" value="UI/UX Developer"></div>
                    <div class="col-md-12"><label class="labels">Current position</label><input type="text" class="form-control" placeholder="headline" value="UI/UX Developer at Boston"></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value="Boston University"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country"></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="Boston" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>
                        {{ info.nickname }} chats
                    </span>
                    <span class="border px-3 p-1 add-experience">
                        <i class="fa fa-plus"></i>
                        <a href="/chat">&nbsp; Create chat</a>
                    </span>
                </div>
                <hr>
                <div>
                    <input type="text" class="form-control"  placeholder="Find chat">
                </div>
                <div class="chat-list">
                    {% for chat in chats.chat %}
                        <div class="d-flex flex-row mt-3 exp-container" style="cursor: pointer"
                        onclick="window.location.href= '/chat/{{ chat.chat.chatTitle }}/{{ chat.chat.id }}';">
                             <div class="col-md-3">
                                 <img src="{% get_media_prefix %}chat_icons/pngaaa.com-293633.png" width="45" height="45">
                            </div>
                            <div class="col-md-1">
                                <h4 style="min-width: 240px; max-width: 240px">{{ chat.chat.chatTitle }}</h4>
                            </div>
                        </div>
                        <h4 style="min-width: 240px; max-width: 240px">{{ chat.last_message.content }}</h4>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>