{% load static %}
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link rel="shortcut icon" href="{% static '/favicon.ico'%}" type="image/x-icon">
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link href="{% static 'chat_create/chat_create.css' %}" rel="stylesheet">
</head>
<body>
    <div class="bubbles">
        <div class = "border-left-5" style="align-content: center; width: 500px; margin: auto">
            {% for _ in "_"|ljust:"50" %}
                <div class="bubble"></div>
            {% endfor %}
            <form method="POST">
                <div class="col-md-12 mt-5" >
                    <h2 style="width: 250px; margin: auto; ">Enter chat title</h2>
                    {% csrf_token %}
                    {{ chat.chat_title }}
                    <br><button class="btn btn--pill btn--green" type="submit" style="width: 500px; margin: auto">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>