{% extends 'chat/sidebar.html' %}

{% block messages %}
<div class="main">
<div class="tab-content" id="nav-tabContent">
    <!-- Start of Babble -->
    <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
        <!-- Start of Chat -->
        <div class="chat" id="chat1">
            <div class="top">
                <div class="container" id="container">
                    <div class="col-md-12">
                        <div class="inside">
                            <a href="#">
                                <i class="material-icons">question_answer</i>

                            </a>
                            <div class="status">
                                <i class="material-icons online">fiber_manual_record</i>
                            </div>
                            <div class="data">
                                <h5>{{ info.room_name_json }}</h5>
                                <span>Active now</span>
                            </div>
                            <button class="btn connect d-md-block d-none" name="1"><i class="material-icons md-30">phone_in_talk</i></button>
                            <button class="btn connect d-md-block d-none" name="1"><i class="material-icons md-36">videocam</i></button>
                            <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
                            <div class="dropdown">
                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item connect" name="1"><i class="material-icons">phone_in_talk</i>Voice Call</button>
                                    <button class="dropdown-item connect" name="1"><i class="material-icons">videocam</i>Video Call</button>
                                    <hr>
                                    <button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
                                    <button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
                                    <button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" id="content">
                <div class="container" id="messages-content">
                    <div class="col-md-12" id="message-log">
                        {% comment %}
                        Messages HERE
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <div class="bottom">
                        <form class="position-relative w-100">
                            <textarea class="form-control" id="chat-message-input" placeholder="Start typing for reply..." rows="1"></textarea>
                            <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                            <button type="submit" class="btn send"><i class="material-icons">send</i></button>
                        </form>
                        <label>
                            <input type="file">
                            <span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Chat -->
        <!-- Start of Call -->
        <div class="call" id="call1">
            <div class="content">
                <div class="container">
                    <div class="col-md-12">
                        <div class="inside">
                            <div class="panel">
                                <div class="participant">
                                    <img class="avatar-xxl" src="dist/img/avatars/avatar-female-5.jpg" alt="avatar">
                                    <span>Connecting</span>
                                </div>
                                <div class="options">
                                    <button class="btn option"><i class="material-icons md-30">mic</i></button>
                                    <button class="btn option"><i class="material-icons md-30">videocam</i></button>
                                    <button class="btn option call-end"><i class="material-icons md-30">call_end</i></button>
                                    <button class="btn option"><i class="material-icons md-30">person_add</i></button>
                                    <button class="btn option"><i class="material-icons md-30">volume_up</i></button>
                                </div>
                                <button class="btn back" name="1"><i class="material-icons md-24">chat</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Call -->
    </div>
    <!-- End of Babble -->
    <!-- Start of Babble -->
    <div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
        <!-- Start of Chat -->
        <div class="chat" id="chat2">
            <div class="top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="inside">
                            <a href="#"><img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg" data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar"></a>
                            <div class="status">
                                <i class="material-icons offline">fiber_manual_record</i>
                            </div>
                            <div class="data">
                                <h5><a href="#">Lean Avent</a></h5>
                                <span>Inactive</span>
                            </div>
                            <button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-30">phone_in_talk</i></button>
                            <button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-36">videocam</i></button>
                            <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
                            <div class="dropdown">
                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item connect" name="2"><i class="material-icons">phone_in_talk</i>Voice Call</button>
                                    <button class="dropdown-item connect" name="2"><i class="material-icons">videocam</i>Video Call</button>
                                    <hr>
                                    <button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
                                    <button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
                                    <button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content empty">
                <div class="container">
                    <div class="col-md-12">
                        <div class="no-messages">
                            <i class="material-icons md-48">forum</i>
                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <div class="bottom">
                        <div class="position-relative w-100">
                            <textarea id="chat-message-input" class="form-control" placeholder="Start typing for reply..." rows="1"></textarea>
                            <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                            <button type="submit" id="chat-message-submit" class="btn send"><i class="material-icons">send</i></button>
                        </div>
                        <label>
                            <input type="file">
                            <span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Chat -->
        <!-- Start of Call -->
        <div class="call" id="call2">
            <div class="content">
                <div class="container">
                    <div class="col-md-12">
                        <div class="inside">
                            <div class="panel">
                                <div class="participant">
                                    <img class="avatar-xxl" src="dist/img/avatars/avatar-female-2.jpg" alt="avatar">
                                    <span>Connecting</span>
                                </div>
                                <div class="options">
                                    <button class="btn option"><i class="material-icons md-30">mic</i></button>
                                    <button class="btn option"><i class="material-icons md-30">videocam</i></button>
                                    <button class="btn option call-end"><i class="material-icons md-30">call_end</i></button>
                                    <button class="btn option"><i class="material-icons md-30">person_add</i></button>
                                    <button class="btn option"><i class="material-icons md-30">volume_up</i></button>
                                </div>
                                <button class="btn back" name="2"><i class="material-icons md-24">chat</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Call -->
    </div>
    <!-- End of Babble -->
    <!-- Start of Babble -->
    <div class="babble tab-pane fade" id="list-request" role="tabpanel" aria-labelledby="list-request-list">
        <!-- Start of Chat -->
        <div class="chat" id="chat3">
            <div class="top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="inside">
                            <a href="#"><img class="avatar-md" src="dist/img/avatars/avatar-female-6.jpg" data-toggle="tooltip" data-placement="top" title="Louis" alt="avatar"></a>
                            <div class="status">
                                <i class="material-icons offline">fiber_manual_record</i>
                            </div>
                            <div class="data">
                                <h5><a href="#">Louis Martinez</a></h5>
                                <span>Inactive</span>
                            </div>
                            <button class="btn disabled d-md-block d-none" disabled><i class="material-icons md-30">phone_in_talk</i></button>
                            <button class="btn disabled d-md-block d-none" disabled><i class="material-icons md-36">videocam</i></button>
                            <button class="btn d-md-block disabled d-none" disabled><i class="material-icons md-30">info</i></button>
                            <div class="dropdown">
                                <button class="btn disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled><i class="material-icons md-30">more_vert</i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item"><i class="material-icons">phone_in_talk</i>Voice Call</button>
                                    <button class="dropdown-item"><i class="material-icons">videocam</i>Video Call</button>
                                    <hr>
                                    <button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
                                    <button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
                                    <button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content empty">
                <div class="container">
                    <div class="col-md-12">
                        <div class="no-messages request">
                            <a href="#"><img class="avatar-xl" src="dist/img/avatars/avatar-female-6.jpg" data-toggle="tooltip" data-placement="top" title="Louis" alt="avatar"></a>
                            <h5>Louis Martinez would like to add you as a contact. <span>Hi Keith, I'd like to add you as a contact.</span></h5>
                            <div class="options">
                                <button class="btn button"><i class="material-icons">check</i></button>
                                <button class="btn button"><i class="material-icons">close</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <div class="bottom">
                        <form class="position-relative w-100">
                            <textarea class="form-control" placeholder="Messaging unavailable" rows="1" disabled></textarea>
                            <button class="btn emoticons disabled" disabled><i class="material-icons">insert_emoticon</i></button>
                            <button class="btn send disabled" disabled><i class="material-icons">send</i></button>
                        </form>
                        <label>
                            <input type="file" disabled>
                            <span class="btn attach disabled d-sm-block d-none"><i class="material-icons">attach_file</i></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Chat -->
    </div>
    <!-- End of Babble -->
</div>
</div>
<script>
    function scroll() {
        let el = document.getElementsByClassName("message");
        let el1 = document.getElementsByClassName("info");
        if (el.length !== 0) {
            let last = el[el.length - 1];
            last.scrollIntoView();
        }
    }
</script>
<script>
    var roomName = {{ info.room_name_json }};
    var userName = "{{ info.user.username }}";
    var chatId = {{ info.chat_id }};
    var ws_scheme = (window.location.protocol == "https:" ? "wss" : "ws") + '://';
    console.log('Connected to : ' , ws_scheme + window.location.host + '/ws/chat/' + chatId + '/')
    const chatSocket = new ReconnectingWebSocket(
        ws_scheme + window.location.host +
        '/ws/chat/' + chatId + '/', );
    chatSocket.onopen = function(e){
        fetchMessages();
    };

    function fetchMessages(){
        chatSocket.send(JSON.stringify({'command' : 'fetch_messages',
                                        'chat_id' : {{ info.chat_id }},
                                        }));
    }

    chatSocket.onmessage = function(e) {
        console.log(e);
        let data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
            for (let i = 0; i < data['messages'].length; i++) {
                createMessage(data['messages'][i], false);
            }
            scroll();
        } else if (data['command'] === 'new_message') {
            createMessage(data['message'], true);
        }
    };

    chatSocket.onclose = function(e) {
        console.log(e);
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value.trim();
        var allInfo = document.getElementsByClassName('info');
        var lastInfo = allInfo[allInfo.length-1];
        console.info(lastInfo);
        if (lastInfo)
            lastInfo.parentElement.removeChild(lastInfo);

        if(message === ''){
            let dv = document.createElement('div');
            dv.className = "info";
            let hr1 = document.createElement('hr');
            let hr2 = document.createElement('hr');
            let span = document.createElement('span');
            span.textContent = "Message is empty";
            dv.appendChild(hr1);
            dv.appendChild(span);
            dv.appendChild(hr2);
            document.querySelector('#message-log').appendChild(dv);
            dv.scrollIntoView();
            messageInputDom.value = '';
            return;
        }
        chatSocket.send(JSON.stringify({
            'command' : 'new_message',
            'sender_id' : {{ info.user.id }},
            'chat_id' : {{ info.chat_id }},
            'message': message,
            'from' : userName
        }));
        messageInputDom.value = '';
    };
    var prev_message_sender_id = -1;
    function createMessage(data, to_last=true){
        var userName = "{{ info.user.username }}"
        var author = data['author'];
        //console.log(data);
        var message = document.createElement('div');
        var imgTag  = document.createElement('img');
        var text_main = document.createElement('div');
        var text_group = document.createElement('div');
        var text = document.createElement('div');
        var p = document.createElement('p');
        p.textContent = data.content;
        text_main.className = "text-main";
        var time = document.createElement("span");
        var date = new Date(data['timestamp']);
        time.className="time";
        time.textContent =
            (date.getHours() < 10 ? "0" + date.getHours(): date.getHours()) +
            ":" +
            (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes());

        if (author === userName) {
            message.className = 'message me';
            text_group.className = "text-group me";
            text.className = "text me";
        } else {
            time.textContent += " (" + data['author'] + ")";
            message.className = 'message';
            text_group.className = "text-group";
            text.className = "text";
        }
        imgTag.className = "avatar-md";
        imgTag.src = "https://www.pinclipart.com/picdir/middle/133-1332476_crowd-of-users-transparent-user-icon-png-clipart.png";
        text.appendChild(p);
        text_group.appendChild(text);
        text_main.appendChild(text_group);
        text_main.appendChild(time);
        if (author !== userName) {
            message.appendChild(imgTag);
        }
        message.appendChild(text_main);
        var chilldren = document.querySelector('#message-log').children;
        var len_children = chilldren.length;
        let root_ = chilldren.item(len_children - 1);
        if(root_ && root_.className  === message.className && prev_message_sender_id === data['author_id']){
            let time_tag = root_.getElementsByClassName("time").item(0);
            time_tag.textContent = time.textContent;
            root_.lastChild.insertBefore(text_group, time_tag);
            text_group.scrollIntoView();
        }else{
            document.querySelector('#message-log').appendChild(message);
            message.scrollIntoView();
        }
        prev_message_sender_id = data['author_id'];
        {% comment %}if(to_last)
            scroll();{% endcomment %}
    }
</script>

{% endblock %}